body {
    color: rgb(255, 255, 255);
    font-family: monospace;
    margin:0px;
    background-image:
    linear-gradient(180deg, #000000, rgb(50, 0, 88));
}
.overflow{
    width: 100%;
    overflow-x: scroll;
}
.resizeFont{
    font-size: 1.2vw;
}
.resizeFont2{
    font-size: 1vw;
}

.imgdiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
nav {
    background: rgb(116, 0, 162);
    margin-bottom: 3vh;
    display: flex;
    padding: .3vw;
    font-family: monospace;
    margin: 0px;
    height: 7vh;
    overflow-y:hidden;
}

.flex{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.sidebar-img{
    width: 7vh;
    height: 7vh;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: .5vw;
}
#toptitle{
    margin-top:auto;
    margin-bottom:auto;
    font-size:1.7vw;
}

.wide{
    width:100%;
    background-color: #0000003b;
}
.hometitle{
    text-align: center;
    text-justify: center;
    
}
#nav-ul {
    list-style-image: none;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
}
.nav-a{
    color: white;
    font-size: 1.5vw;
}
.nav-li {
    display: inline-block;

} 
#all-contents{
    overflow-y: scroll;
    height: 91.3vh;

}

canvas{
    display: none;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 1;
    top: 0px;
    left: 0px;
}

div{
    background: none;
}
html {
    background-image:
        linear-gradient(180deg, #000000, rgb(50, 0, 88));
    background-repeat: no-repeat;
    background-size:auto;
    font-family: monospace;
    overflow: hidden;
    width: 100%;
    height: 100%;
}
.autoplayed{
    margin: auto;
    width: 65vw;
    border-radius: 2vh 2vh 0px 0px
}
.projectDiv{
    margin: auto;
    border-radius: 2vh 2vh 2vh 2vh;
    margin-top: 3vh;
    display: flex;
    flex-direction: column;
    background-color:black;
    width: 65vw;
    align-content: center;
}
.projectTitle{

    margin-right: 1vw;
}
.tagTitle{
    display:flex;
    width: 60vw;
    height: max-content;
    margin: auto;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
}
.tagCompleted{
    background-color: rgba(153, 255, 0, 0.521);
    width: max-content;
 
    text-align: center;
    margin-right: .3vw;
    margin-left:.3vw;
    display: flex;
    align-items: center;
    padding-left: .6vw;
    height: min-content;
    padding-top: .9vh;
    padding-bottom: .8vh;
    padding-right: .6vw;
    border-radius: .4vw;
}
.tagCanceled{
    background-color: rgba(255, 0, 0, 0.521);
    width: max-content;

    text-align: center;
    margin-right: .3vw;
    margin-left:.3vw;
    display: flex;
    align-items: center;
    padding-left: .6vw;
    height: min-content;
    padding-top: .9vh;
    padding-bottom: .8vh;
    padding-right: .6vw;
    border-radius: .4vw;
}
.tagActDev{
    background-color: rgba(255, 251, 0, 0.521);
    width: max-content;

    text-align: center;
    margin-right: .3vw;
    margin-left:.3vw;
    display: flex;
    align-items: center;
    padding-left: .6vw;
    height: min-content;
    padding-top: .9vh;
    padding-bottom: .8vh;
    padding-right: .6vw;
    border-radius: .4vw;
}
.tagFutDev{
    background-color: rgba(0, 17, 255, 0.521);
    height: fit-content;
    text-align: center;
    margin-right: .3vw;
    margin-left:.3vw;
    display: flex;
    align-items: center;
    padding-left: .6vw;
    height: min-content;
    padding-top: .9vh;
    padding-bottom: .8vh;
    padding-right: .6vw;
    border-radius: .4vw;
}
.tagUpt{
    background-color: rgba(153, 0, 255, 0.521);
    height: min-content;
    text-align: center;
    margin-right: .3vw;
    margin-left:.3vw;
    display: flex;
    align-items: center;
    padding-left: .6vw;
    height: min-content;
    padding-top: .9vh;
    padding-bottom: .8vh;
    padding-right: .6vw;
    border-radius: .4vw;
}
.tagUnFin{
    background-color: rgba(39, 39, 39, 0.521);
    height: min-content;
    text-align: center;
    margin-right: .3vw;
    margin-left:.3vw;
    display: flex;
    align-items: center;
    padding-left: .6vw;
    height: min-content;
    padding-top: .9vh;
    padding-bottom: .8vh;
    padding-right: .6vw;
    border-radius: .4vw;
}
p{
    margin: auto;
    font-size: 2vh;
}
h1{
    font-size: 4vh;
}

.projectNotes{
    background-color: rgb(39, 39, 39);
    margin: auto;
    margin-top: 0px;
    margin-bottom: 2vh;
    width: 59.5vw;
    border-radius: 1vh;
    padding:1vh;
}
.proLink{
    outline: none;
    padding-left: 1vw;
    padding-right: 1vw;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: min-content;
    text-decoration: none;
    color: white;
    background-color: rgb(162, 0, 255);
    margin: auto;
    margin-bottom: 2vh;
    font-size: 3vh;
    border-radius: 1.6vh;
}

::-webkit-scrollbar {
    width: .3vw;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {

    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background:#e30ace; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #ff01a2; 
  }

  @media (orientation: portrait){

    .autoplayed{
        margin: auto;
        width: 95vw;
        border-radius: 2vh 2vh 0px 0px
    }
    .projectDiv{
        margin: auto;
        border-radius: 2vh 2vh 2vh 2vh;
        margin-top: 6vh;
        display: flex;
        flex-direction: column;
        background-color:black;
        width: 95vw;
        align-content: center;
    }
    .tagTitle{
        display:flex;
        width: 90vw;
        height: max-content;
        margin: auto;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
    }
    .projectNotes{
        background-color: rgb(39, 39, 39);
        margin: auto;
        margin-top: 0px;
        margin-bottom: 2vh;
        width: 89.5vw;
        border-radius: 1.6vh;
        padding:1vw;
    }
    .card{
        width: 80vw;
    }
    .overflow{
        width: 80vw;
        flex-wrap: wrap;
        overflow-y: scroll;
        height: 62vh;
    }
    .resizeFont{
        font-size: 3vw;
    }
    .resizeFont2{
        font-size: 2vw;
    }
    .projectTitle{
        margin-left:auto;
        margin-right:auto;
    }
    .mobileMargin{
        margin-left: auto;
        width: 100%;
        margin-top: 7px;
        margin-bottom: 7px;
        margin-right: auto;
    }
    .projectNotes{
        margin-top: 1vh;
    }
  }
.imgsize3{
    margin-top: 13vh;
}