body {
  margin: 0px;
  width: 1645px;
  background-color: rgb(28, 26, 26);
  border-radius: 14px;
}

canvas {
  background-color: rgb(0, 0, 0);
}
#html{
  background-color: black;
  color: white;
}
.canvas{
  display: inline-flex;
}
img {
  display: none;
}
div {
    /* outline-color: deeppink;
    outline-style: dotted;
    outline-width: 5px; */
  width: max-content;
}
.maxcont{
  width:max-content;
  margin-left: 1vw;
  margin-right: 1vw;
}
#buttondiv{
  display:inline-flex;
}
#bigdiv{
  width:100%
}
#gridsizediv{
  display:block;
  margin-left: 1vw;
  margin-right: 1vw;
  text-align: center;
}

#smargin{
  margin-top: 3vh;
  margin-bottom: 3vh;
}
#ShowSize{
  margin:0;
}
#bottom{
  display:flex;
  text-align: top;
  height: 8.5vh;

  align-items: center;
}
.wide{
  width:13.8vw;
}
#demo{
  width:13vw;
}
#snapdiv{
  display: inline-flex;
  align-items: center;
}
#sidebar{
  display: inline-flex;

}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
#placeholdertext{
  width: 5vw
}
#playtestbutton{
  position: absolute;
  left: 1400px;
  top: 750px;
  width: 14vw;
  height: 8vh;
  font-size: xx-large;
}
#block{
  display: block;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked+.slider {
  background-color: #2196F3;
}

input:focus+.slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

#buttonwid{
  width:100%;
}


#swatch {
  background: rgba(0, 0, 0, 0.0);
  box-shadow: 1em 1em 1em rgba(0, 0, 0, .1);

}

#swatch h1 {
  margin: 0;
  text-transform: uppercase;
}

#swatch h2 {
  font-weight: normal;
  margin: 0;
}

input[type="color"] {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background: none;
  border: 0;
  cursor: pointer;
  height: 3em;
  padding: 0;
  width: 15em;
}

*:focus {
  border-radius: 0;
  outline: none;
}

::-webkit-color-swatch-wrapper {
  padding: 0;
}

::-webkit-color-swatch {
  border: 0;
  border-radius: 0;
}

::-moz-color-swatch,
::-moz-focus-inner {
  border: 0;
}

::-moz-focus-inner {
  padding: 0;
}


.sizeButton{
  display:inline-block;
  padding:0.3em 1.2em;
  margin:0 0.3em 0.3em 0;
  border-radius:2em;
  box-sizing: border-box;
  text-decoration:none;
  font-family:'Roboto',sans-serif;
  font-weight:700;
  color:#000000;
  background-color:#4ef171;
  text-align:center;
  transition: all 0.2s;
  }
  sizeButton{
  background-color:#4095c6;
  }

  #color{
    width:10vw;
    display:block;
    outline-color: #000000;
    outline-style: groove;
    outline-width: 4px;
    margin-bottom: 1vh;
  }
  .colorbg{
    background-color: rgba(34, 250, 1, 0.367);
    width: 13vw;
    height: 12vh;
    margin: auto;
  }
  #positioner{
    position: relative;
    margin:auto;
    align-items: center;
    padding-top: 1.7vh;
    /* outline-color: #6c1616;
    outline-style: groove;
    outline-width: 4px; */
  }
  #marginer{
    width:100%;
    margin: auto;
  }