html{
    width: 100%;
    height:100%;
    background-color: maroon;

}
body{
    width: 100%;
    height: 100%;
}
*{
    margin:0px;
    padding:0px
}
.card{
    font-family: "Ubuntu";
    font-weight: 500;
    font-style: normal;
    scale: 0.5 0.5;
    top:0vw;
    left:0vw;
    position: absolute;
    z-index: 1;
    display: grid;
    width:25vw;
    outline: white 1vw solid;
    height:40vw;
    color:white;
    background-color: rgb(255, 0, 0);
    border-radius: 1vw;
    grid-template-areas: 
    "S S C"
    "N N N"
    "K Z Z";
}
.cardDeck{
    position: absolute;
    background-color: gray;
    width:50vw;
    z-index: -1;
    height:15vw
}
.noU{
    font-family: "Ubuntu";
    font-weight: 500;
    font-style: normal;
    rotate: -40deg;
    color:#E4DE2B;
    font-size: 10.5vw;
    font-weight: 900;
}
.oval{
    background-color: rgb(255, 67, 67);
    border-radius: 90%;
    width:80%;
    display: flex;
    align-items: center;
    justify-content: center;
    height:100%;
    rotate: 20deg;
}
.backCard{
    font-optical-sizing: auto;
    font-weight: 800;
    top:9vw;
    left:50vw;
    position: absolute;
    width:25vw;
    outline: rgb(255, 255, 255) 1vw solid;
    height:40vw;
    display:flex;
    align-items: center;
    justify-content: center;
    color:white;
    background-color: black;
    border-radius: 1vw;
}
h1{
    width:100%;
    
}
.smallNum1{
    grid-area: S;
    font-size: 6vw;
    height:70%;
    margin-left:10%;

}
.colour1{
    font-size: 6vw;
    grid-area: C;
    text-align: end;
    height:70%;
    width: 90%;
    margin-right:10%;


}
.bigNumber{
    grid-area:N;
    width:100%;
    overflow: hidden;
    text-justify: center;
    height: 80%;
    font-size: 13vw;
    align-self: center;

    text-align:center;
}
.colour2{
    grid-area:K;
    height:70%;
    font-size: 6vw;
    align-self: flex-end;
    width: 90%;
    margin-left:10%;
}
.smallNum2{
    grid-area:Z;
    align-self: flex-end;
    font-size: 6vw;
    margin-right:10%;
    height:70%;
    justify-self: end;
    text-align: end;
}

.bigImg{
    grid-area:N;
    overflow: hidden;
    text-justify: center;
    height: 10vw;
    width:auto;
    font-size: 13vw;
    align-self: center;
    justify-self: center;
}
.smallImg{
    height:5vw;
    width:auto;
    margin:0px;
}


@keyframes flip{
    0%{scale: 0.5 0.5;}
  100%{scale: 0 0.5;}
}
@keyframes flipPause{
    0%{
        display: none;
        scale: 0 0.5
    }
    49%{
        display: none;
        transform-origin: 0 0;

        scale: 0 0.5
    }
    50%{
        display: grid;
        transform-origin: 50% 50%;
        scale: 0 0.5

    }
    99%{
        transform-origin: 50% 50%;
    }
    100%{
        transform-origin: 0 0;
        scale: 0.5 0.5
    }
}