

canvas {
  background-color: rgb(0, 0, 0);
  outline-color: #1c1a1a;
  height: 15vw;
  border-radius: .5vw;
  width: 27.9vw;
}
.canvas{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-around;
  height: 98vh;
  width: 99vw;
}

img {
  display: none;
}
html{
  margin: 0px;
  font-family: monospace;
  background-color: rgb(8, 8, 8);
}
.nomargin{
  margin:0px;
}

.title{
  grid-area:T;
  width: 27.9vw;
  font-size: 2.5vw;
  overflow-y:hidden;
  height: 2.5vw;
}
.author{
  grid-area: A;
  padding: 0px;
  margin: 0px;
  width: 13.7vw;
  height: 2vw;
  overflow: hidden;
  font-size: 1.6vw;
}
.cardcanvas{
  grid-area: 🖼️;
}
.lvlcard{
  background-color: rgba(255, 255, 255, 0.568);
  border-radius: .5vw;
  padding: .5vw;
  display: none;
  width: 27.9vw;

  grid-template-areas: 
  "🖼️ 🖼️"
  "T T"
  "A I";
}
#head1{
  color:rgb(255, 72, 0);
  width: 100%;
  display: none;
  font-size: 5vw;
  text-align: center;
}
#previous{
  position: absolute;
  left: .5vw;
  top: 45vh;
  background-color: rgba(255, 255, 255, 0.384);
  height: 5vw;
  width:5vw;
  font-size: 3vw;
  display: flex;
  border-radius: 100vw;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-family: 'Franklin Gothic Medium';
}
#next{
  position: absolute;
  left:94.5vw;
  top: 45vh;
  background-color: rgba(255, 255, 255, 0.384);
  height: 5vw;
  width:5vw;
  font-size: 3vw;
  display: flex;
  border-radius: 100vw;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-family: 'Franklin Gothic Medium';
}

.ids{
  grid-area:I;
  height: 4vh;
  font-size: 2vw;
  margin: 0px;
  padding:0px;
  width: 90%;
  text-align: end;
  color:rgb(18, 124, 4);
  font-weight: bolder;
}