
body {
  padding:10px;
  background-color: rgb(43, 43, 43);
  width: min-content;
  height: min-content;
  border-radius: 6px;
}

#board {
  width: 440px;
  height: 440px;
  border: 1px solid white;
  background-color: black;
}

#score, #highScore {
  color: white;
}

.snake, .apple {
  display: block;
  width: 20px;
  height: 20px;
  position:absolute;
  
  user-select: none;
}

.snake {
  background-color: green;
  z-index: 2;
}

#snake-head {
  background-color: darkgreen;
}

.apple {
  background-color: red;
  z-index: 1;
}
html{
  background-color: rgb(15, 15, 15);
  height: 100%;
  width: 100%;
  margin: 0px 0px 0px 0px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}