#MainTitle{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#black{
    background-color: black;
    height: 12vw;
    width: 12vw;
}
#board{
    position: absolute;
    top: 0;
    left: 0;
    background-color: gray;
}
